.sideMenu {
    box-sizing: border-box;
    padding-top: 20px;
    position: fixed;
    top: 0;
    left:0;
    width: 240px;
    height: 100vh;
    background: linear-gradient(
        to left,
        #7eb5e6 0%,
        #126fc4 100%
    );
    box-shadow: 4px 0 15px rgba(0, 80, 160, 0.25);
    z-index: 1000;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sideMenu nav {
    font-size: 18px;
}

.sideMenu nav button {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    color: white;
    padding: 5px 7px;
}

.sideMenu nav button:hover {
    width: 100%;
    text-align: left;
    font-size: 19px;
}

.closeMenu {
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);

    width: 40px;
    height: 40px;

    border: none;
    border-radius: 50%;
    background: #fff;
    font-size: 20px;
    cursor: pointer;

    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.15);
    background: linear-gradient(
        135deg,
        #35a9ff,
        #126fc4
    );
    color: #ffffff;
}

.closeMenu:hover {
    transform: translateY(-50%) scale(1.1);
    box-shadow: 0 6px 16px rgba(0, 80, 160, 0.4);
}

.openMenu {
    position: fixed;
    top: 50%;
    left: 0px;

    width: 40px;
    height: 40px;

    border: none;
    border-radius: 50%;
    background: #fff;
    font-size: 20px;
    cursor: pointer;

    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.15);
    background: linear-gradient(
        135deg,
        #35a9ff,
        #126fc4
    );
    z-index: 1000;
    color: #ffffff;
}